<html !DOCUMENT>

	<header>
		<title>Test Angular JS</title>

		<!-- Librerias -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-design.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/ripples.min.css">

		<script type="text/javascript" src="assets/js/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/material.min.js"></script>
		<script type="text/javascript" src="assets/js/ripples.min.js"></script>

		<!-- Archivos trabajo angular -->
		<script type="text/javascript" src="assets/js/angular/app.js"></script>
		<script type="text/javascript" src="assets/js/angular/modulo1Controller.js"></script>
	</header>

	<body>

		<div class="container-fluid" ng-app="miApp">
			
			<!-- Se define el controlador -->
			<div class="row" ng-controller="modulo1Controller">

				<div class="col-md-12">
					<form name="frmTest" id="frmTest" class="form-horizontal" role="form"
					ng-submit="submitFormPost($event)">
						<div class="form-group">
							 
							<label for="inputEmail3" class="col-sm-2 control-label">
								Nombre
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="nombre" name="nombre" ng-model="formData.nombre" />
							</div>
						</div>
						<div class="form-group">
							 
							<label for="inputPassword3" class="col-sm-2 control-label">
								Apellido
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="apellido" name="apellido" ng-model="formData.apellido"  />
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								 
								<button type="submit" class="btn btn-default tn-raised">
									{{saveButtonText}}
								</button>
							</div>
						</div>
					</form>
				</div>
				{{mensaje}}
			</div> 
			<!-- fin modulo1Controller -->
		</div>

		
	</body>

	<script type="text/javascript">
		$.material.init()
	</script>

</html>
